<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class = "container">
        <div class="row mt-5">
            <div class="col-6 mx-auto">
                <div class="card shadow">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <form action="/admin">
                            <div class="mb-3">
                                <label form ="name">Ingrese su nombre de usuario</label>
                                <input class="form-control" type="text" name="user" id="user">
                            </div>
                            <div class="text-end">
                                <button class="btn btn-outline-dark" type="submit">Ingresar</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>